.wdtano-messages-container {
    margin-bottom: 10px;
    position: relative;
}

.wdtano-message-input-group {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
    align-items: center;
    margin-bottom: 1em;
}

.wdtano-message-input-group .wdtano-editable-input {
    flex-grow: 1;
}

.wdtano-message-input-group .wdtano-input-group-actions {
    flex-shrink: 0;
}

.wdtano-editable-input {
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
    padding: 0 8px;
    line-height: 2;
    min-height: 30px;
    cursor: text;
    outline: none;
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    flex-grow: 1;
    min-width: 0; /* important for new line! */
}

.wdtano-editable-input:focus {
    border-color: #2271b1;
    box-shadow: 0 0 0 1px #2271b1;
    outline: 2px solid transparent;
}

.wdtano-editable-input .variable::selection {
    background-color: #b3d7ff;
}

.settings_page_tab-return-notifier .wdtano-input-group-actions button:first-child {
    margin-left: 0;
}

.wdtano-add-message {
    margin-left: 30px !important;
}

#wdtano-variable-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#wdtano-variable-menu ul .wdtano-variable-menu-item {
    background: #fff;
    color: #2c3338;
    cursor: pointer;
    font-weight: 400;
    margin: 0;
    padding: 1em 1.5em;
    position: relative;
    text-align: left;
    width: 100%;
    font-size: 13px;
    border: 1px solid #c3c4c7;
    border-top: none;
}

#wdtano-variable-menu ul .wdtano-variable-menu-item:first-child {
    border-top: 1px solid #c3c4c7;
}

#wdtano-variable-menu ul .wdtano-variable-menu-item:hover {
    background: #f6f7f7;
}

.wdtano-message-input-group {
    position: relative;
    padding-left: 30px;
}

.wdtano-drag-handle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: move;
    opacity: 0.5;
    user-select: none;
}

.wdtano-drag-handle:hover {
    opacity: 1;
}