/*begin settings*/
.settings_page_tab-return-notifier #wpcontent, .settings_page_tab-return-notifier.auto-fold #wpcontent {
    padding-left: 0;
}

.settings_page_tab-return-notifier .form-table label, .settings_page_tab-return-notifier .form-table p {
    font-size: 13px;
}

.settings_page_tab-return-notifier .site-health-accordion-actions p.submit {
    display: block;
    text-align: right;
    margin: 0;
    padding: 0;
}

.settings_page_tab-return-notifier .form-table th {
    width: 100px;
}

/*end settings*/
/*begin preview*/
.wdtano-tab-preview {
    display: flex;
    align-items: center;
    background: #e0e0e0;
    border: 1px solid #bbb;
    border-radius: 8px 8px 0 0;
    padding: 4px 10px;
    max-width: 340px;
    font-family: sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wdtano-tab-preview img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.wdtano-tab-preview span {
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: block;
    mask-image: linear-gradient(to right, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
    width: 285px;
}

.wdtano-tab-close {
    background: transparent;
    border: none;
    color: #666;
    font-size: 14px;
    cursor: pointer;
    padding: 0 4px;
    line-height: 1;
    opacity: 0.5;
    transition: opacity 0.2s;
    margin-left: auto;
}

.wdtano-tab-close:hover {
    opacity: 1;
    color: #000;
}

/*end preview */